<!-- ./views/layouts/main.handlebars -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>no sense words</title>

  <!-- link css files here -->
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>

  <!-- navigation -->
  <nav class="navbar navbar-dark bg-secondary">
    <a class="navbar-brand" href="#">幹話產生器</a>
  </nav>

  {{{ body }}}

  <!-- include javascript files here -->
  <script src="/javascripts/jquery-3.3.1.js"></script>
  <script src="/javascripts/popper.min.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</body>

</html>